<footer id="footer">
  <div class="row">
    <div class="col">
      <a class="logo" href="/"> <img class="icon" src="../img/lightning-pos-icon.svg"></img> Lightning</a>
    </div>
    <ul role='list' class="col">
      <li role='list'>For Customers</li>
      <li role='list'> <a href="">Sign in</a></li>
      <li role='list'> <a href="">Lightning Classroom</a></li>
      <li role='list'> <a href="">System Status</a></li>
      <li role='list'> <a href="">Refer a Restaurant</a></li>
    </ul>
    <ul role='list' class="col">
      <li role='list'>Resources</li>
      <li role='list'> <a href="">Resource Center</a></li>
      <li role='list'> <a href="">Lightning Blog</a></li>
      <li role='list'> <a href="">POS Comparison</a></li>
      <li role='list'> <a href="">Restaurants Near Me</a></li>
    </ul>
    <ul role='list' class="col">
      <li role='list'>Connect</li>
      <li role='list'>Sales: (123) 456-7890</li>
      <li role='list'>Customer Care: (321) 654-0987</li>
      <li role='list'>123 Bolt Drive</li>
      <li role='list'>Suite 011</li>
      <li role='list'>San Jose, CA 91232</li>
    </ul>
  </div>
  <p>© 2022 Lightning | All Rights Reserved</p>
  <script src="../homepage.js"></script>
</footer>
</body>

</html>