<!doctype html>
<html>

<head>
  <title>Lightning POS</title>
  <!-- todo:prob not goin to use bottom 2 -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  -->
  <!-- todo:add icons below -->
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <!-- importing fonts  -->
  <link rel="stylesheet" href="https://use.typekit.net/qqz2xyn.css">
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet"> -->
</head>

<body>