<%- include('partials/header-v2') -%>
    <header id="header" class="header">
        <div class="container">
            <a class="logo" href="/"> <img class="icon" src="img/lightning-pos-icon.svg"></img> Lightning</a>
            <ul role='list' class="links">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/">Account</a></li>
                <li><a href="/">Inbox</a></li>
                <li><a href="/">Help</a></li>
                <li><a href="/">Settings</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </header>

    <section id="dashboard" class="container">
        <div class="card-tainer">
            <div class="col">
                <div class="card lg-width lg-height"></div>
                <div class="card lg-width lg-height">
                    <a class="top-card-text" href="/dashboard/order/all">View all</a>
                </div>
            </div>
            <div class="col">
                <div class="card sm-width md-height"></div>
                <div class="card sm-width sm-height general">
                    <div class="card-content">
                        <img src="img/fastIcon.svg" alt="">
                        <div class="card-text">
                            <h4>Quick POS</h4>
                        </div>

                    </div>
                    <div class="card-bot">
                        <a href="">Access now</a>
                    </div>
                </div>
                <div class="card sm-width sm-height general">
                    <div class="card-content">
                        <img src="img/tableIcon.svg" alt="">
                        <div class="card-text">
                            <p>Seats Taken</p>
                            <h3>4/50</h3>
                        </div>

                    </div>
                    <div class="card-bot">
                        <a href="/dashboard/tables">View all</a>
                    </div>
                </div>
                <div class="card sm-width sm-height general">
                    <div class="card-content">
                        <img src="img/addIcon.svg" alt="">
                        <div class="card-text">
                            <h4>Add widget</h4>
                        </div>

                    </div>
                    <div class="card-bot">
                        <a  href="">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer-v2') -%>