<%- include('partials/header'); -%>




    <section id="logIn">
        <a class="logo" href="/"> <img class="icon" src="img/lightning-pos-icon.svg"></img> Lightning</a>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
                <div class="alert alert-danger">
                    <%= el.msg %>
                </div>
                <% }) %>
                    <% } %>
                        <% if (locals.messages.info) { %>
                            <% messages.info.forEach( el=> { %>
                                <div class="alert alert-info">
                                    <%= el.msg %>
                                </div>
                                <% }) %>
                                    <% } %>

                                        <!-- LOGIN FORM -->
                                        <form action="/signup" method="post">
                                            <h2 class="gold-text">Register an account</h2>
                                            <input type="text" class="form-control" name="userName"
                                                placeholder="Username">
                                            <input type="text" class="form-control" name="email"
                                                placeholder="Email Adress">
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Password">
                                            <input type="password" class="form-control" name="confirmPassword"
                                                placeholder="Re-enter password">
                                            <button type="submit" class="btn primary-btn">Sign up</button>
                                            <p>Already have an account? <a class="gold-text" href="/login">Login</a></p>
                                        </form>
    </section>
    <%- include('partials/footer'); -%>