/* Base styles */
body {
    word-wrap: break-word;
    font-family: nunito-sans, sans-serif;
    background-color: #ebebe8;
    color: #262422;



    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    font-weight: 700;
    color: #262422;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    display: inline;
    /* width: 19px;
    height: 33.06px; */
    padding-right: 6px;
    color: #FEF381;
}

a {
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    color: #6F7171;
}

a:hover,
.open-button:hover {
    color: #7bc7f2;
}




/* Dashboard styles */
.container {
    max-width: 1479px;
    padding: 0 25px;
    margin: auto;
}

#header {
    background: linear-gradient(to right, #c19106, #fbe149);
}

#header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 75px;
}

#header .container ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#header .container ul li a {
    font-weight: 700;
    color: #261600;
}

#header .container ul li a:hover {
    color: #51B5E0;
}

#dashboard {
    height: 1200px
}

#dashboard.container {
    margin-top: -50px;
    margin-bottom: 150px;
}

.card-tainer {
    display: flex;
    gap: 25px;
}

.col {

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card,
.modal {
    border-radius: 15px;
    background-color: #fcfcfa;
    box-shadow: 0px 8px 17px -17px #262422;
}

.modal {
    border: none;
}

button.ppl-count-btn {
    height: 45px;
    width: 45px;
    padding: 10px;
    margin-left: 25px;
}

.ppl-count-btn>img {
    width: 25px;
    height: 25px;
    margin: 0;
}


.general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    display: flex;
    padding: 25px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 40px;
}

.card-text p {
    font-size: 14px;
    color: #93918c;
}

.card-text h3 {
    color: #4b4744;
    font-size: 36px;
}

.card-text h4 {
    color: #4b4744;
    font-size: 18px;
    font-weight: 700;
}

.card-bot {
    background-color: #fffff2;
    width: 100%;
    border-radius: 15px;
    height: 50px;
    padding: 0 25px;
    display: flex;
    align-items: center;

}

.card-bot a {
    color: #f5c711;
    font-weight: 700;
}

.lg-width {
    width: 1085px;
}

.xl-width {

    width: 1200px;
}



.sm-width {
    width: 319px;
}


.sm-height {
    height: 200px;
}

.md-height {
    height: 300px
}

.lg-height {
    height: 350px;
}

.xl-height {
    height: 1000px;
}



.col>.lg-height:first-of-type {
    background-image: url('/img/firstWidget.png');
    width: 100%;
    height: 350px;
}

.col>.lg-height:nth-child(2) {
    background-image: url('/img/secondWidget.png');
    background-repeat: no-repeat;
    display: flex;
}

.col>.lg-height:nth-child(2)>a {
    margin-top: auto;
}

.col>.md-height:first-of-type {
    background-image: url('/img/thirdWidget.png');
    width: 100%;
    height: 300px;
}

.top-card-text {
    padding: 25px;
    color: #93918C;
    display: flex;
    justify-content: space-between;
}

.top-card-text a {
    font-weight: bold;
}
.top-card-text h3{
    color: #6F7171;
    font-size: 16px;
}
.card-bot {
    display: flex;
    justify-content: space-between;
}

.tables-card {
    display: flex;
    flex-direction: column;
}

.tables-card>.card-bot {
    margin-top: auto;
}

.tables-view {
    padding: 25px;
}


.table {
    float: left;
    width: 8em;
    height: 8em;
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    background: #EBEBE8;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    place-content: center;
}

.table>a {
    font-size: 20px;
    font-weight: bold;
    color: #93918C;
}

.table>a:hover {
    color: #51B5E0;
}

.menu-items {
    display: flex;
    gap: 25px;
    padding: 40px;
}

.orders {
    display: flex;
    flex-direction: column;
}

.orders>p {
    padding: 0 25px;
    color: #6F6C68;
}

hr {
    margin: 25px;
    background-color: #93918C;
    border-radius: 5px;
}

.orders>.card-bot {
    margin-top: auto;
}

div.card.lg-width.xl-height > div.card-bot {
    margin-top: auto;
  }

.open-button {
    border: none;
    color: #f5c711;
    background-color: transparent;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

dialog>.close-button {
    height: auto;
    width: auto;
    padding: 10px;
    margin-bottom: 24px;
}

dialog>.close-button>img {
    height: 25px;
}

dialog>form>button {
    margin-top: 24px;
    align-self: flex-end;
}

dialog>form {
    display: flex;
    flex-direction: column;
}

dialog {
    width: 400px;
    padding: 24px;
}


dialog>form>label {
    color: #4B4744;
    font-size: 18px;
}

.pic-btn {
    border: none;
    background-color: #EBEBE8;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;
}
.pic-btn:hover {
    background-color: #C9C7C4;
}

.pic-btn>h3 {
    margin-top: 15px;
}

.menu-items>form {
    width: 250px;
}

.order-list{
    padding: 0;
    margin: 0;
}

.order-list-item{
    list-style-type: none;
    padding: 0 25px;
    display: flex;

}

.order-list>li>span{
    display: inline-block;
    margin-left: 10px;
}
.order-list-item{
    color: #413F3D;
}
.order-list-item:first-of-type{
   background-color: #FFFFF2;
   color: #C19106;
   padding: 10px 25px;
}
.order-list>li>span:first-of-type{
    width: 65px;
}
.order-list>li>span:nth-of-type(2){
    width: 650px;
}
.order-list>li>span:nth-of-type(3){
    width: 200px;
}
.order-list>li>span:nth-of-type(4){
    width: 100px;
}
#footer {
    margin-top: auto;
}


#footer div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#footer .container ul {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

#footer .container p {
    margin-top: 50px;
    margin-bottom: 25px;
}