/* Base styles */
body {
    word-wrap: break-word;
    font-family: nunito-sans, sans-serif;
    background-color: #ebebe8;
    color: #262422;



    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    font-weight: 700;
    color: #262422;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    display: inline;
    /* width: 19px;
    height: 33.06px; */
    padding-right: 6px;
    color: #FEF381;
}

a {
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    color: #6F7171;
}

a:hover {
    color: #7bc7f2;
}




/* Dashboard styles */
.container {
    max-width: 1479px;
    padding: 0 25px;
    margin: auto;
}

#header {
    background: linear-gradient(to right, #c19106, #fbe149);
}

#header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 75px;
}

#header .container ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#header .container ul li a {
    font-weight: 700;
    color: #261600;
}

#header .container ul li a:hover {
    color: #51B5E0;
}

#dashboard {
    height: 1200px
}

#dashboard.container {
    margin-top: -50px;
    margin-bottom: 150px;
}

.card-tainer {
    display: flex;
    gap: 25px;
}

.col {

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    border-radius: 15px;
    background-color: #fcfcfa;
    box-shadow: 0px 8px 17px -17px #262422;
}

.general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    display: flex;
    padding: 25px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 40px;
}
.card-text p{
    font-size: 14px;
    color: #93918c;
}
.card-text h3{
    color: #4b4744;
    font-size: 36px;
}
.card-text h4{
    color: #4b4744;
    font-size: 18px;
    font-weight: 700;
}
.card-bot {
    background-color: #fffff2;
    width: 100%;
    border-radius: 15px;
    height: 50px;
    padding: 0 25px;
    display: flex;
    align-items: center;

}

.card-bot a {
    color: #f5c711;
    font-weight: 700;
}

.lg-width {
    padding: 40px;
    width: 1085px;
}

.sm-width {
    width: 319px;
}


.sm-height {
    height: 200px;
}

.md-height {
    height: 300px
}

.lg-height {
    height: 350px;
}



#footer {
    margin-top: auto;
}


#footer div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#footer .container ul {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

#footer .container p {
    margin-top: 50px;
    margin-bottom: 25px;
}